<!DOCTYPE html>
<html>
<head>
    <title>Pune Real Estate Investment Analyzer</title>
</head>
<body>

    <h1>Pune Real Estate Investment Analyzer</h1>

    <form method="POST">

        <label>Location:</label>
        <input type="text" name="location">
        <br><br>

        <label>Current Property Price:</label>
        <input type="number" name="price">
        <br><br>

        <label>Prediction Years:</label>
        <input type="number" name="years">
        <br><br>

        <button type="submit">Predict</button>

    </form>

</body>
</html>